    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Dana Cleveland - ScritchyLabs</h2>
              <br/>
                <p>With 25 years experience in the computer industry, through Systems Administration, developing applications, integrating systems through software, consulting, and my share of on-call over the years.</p>
                <p>Living (and sometimes dreaming) DevOps, while maintaining a working knowledge of AWS services through experience and certifications.</p>
                <p>Certified Atlassian in System Administraton (ACP-500)</p>
		<p>I'm an avid runner, and a Blackbelt in TKD. I also enjoy photography and climbing.</p>
                <br/>
              </div>
        </div>
    </section>
